@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.cursive{
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}
#menu-toggle:checked + #menu {
  display: block;
}
.times {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

.svg{
  margin: 5rem 0;
  width: 230px;
  height: auto;
}
.webi {
  margin-top: -5rem;
  padding-bottom: 1rem;
}
.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 10px;
}


.menu-link {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
}
.home-img {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
